:root {
  --white: ghostwhite;
  --black: black;
  --main-background: #616671;
  --elements-background: #24292c;
  --emphasis-color: #ff6e47;
  --inset-shadow: #292f33;
  --offset-shadow: #1f2325;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: var(--main-background);
  color: var(--black);
}

.button {
  margin: 0.2rem;
  width: 5.5rem;
  background-color: var(--elements-background);
  color: var(--white);
  box-shadow:
    0px 7px 20px 0px var(--offset-shadow),
    inset 0px 2px 15px 5px var(--inset-shadow);
}

h1 {
  padding-bottom: 1.5rem;
}

select {
  background-color: var(--main-background);
  height: 1.5rem;
  width: 100px;
  text-align-last: center;
  border-radius: 30px;
}

.countdown {
  background-color: var(--elements-background);
  height: 3.5rem;
  padding-top: 2rem;
  width: 50%;
  margin: 2rem auto;
  border-radius: 50px;
  box-shadow:
    0px 20px 20px 0px var(--offset-shadow),
    inset 0px 0px 10px 15px var(--inset-shadow);
}

.time {
  font-size: 3rem;
  display: inline;
  color: var(--emphasis-color);
}

.time-divider {
  font-size: 3rem;
  display: inline;
  color: var(--white);
}

hr {
  margin: 1.3rem auto;
  border: #0000;
}

#cancel-button {
  color: var(--emphasis-color);
}

#toggle-button {
  color: var(--emphasis-color);
}

#toggle-button:disabled {
  color: var(--main-background);
}

.button-splitter {
  width: 2rem;
  display: inline-block;
}

.checkbox-row {
  padding: 0.2rem;
}

#display-checkbox {
  margin-left: 0.33rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  outline: none;
  font-size: inherit;
  cursor: pointer;
  width: 1em;
  height: 1.5em;
  border-radius: 0.25em;
  border: 0.015em solid var(--black);
  position: relative;
  background-color: var(--main-background);
}

#display-checkbox:before {
  content: 'no';
  color: var(--elements-background);
  position: absolute;
  left: 0.65em;
  top: 0.1em;
}

#display-checkbox:checked {
  background: var(--elements-background);
}

#display-checkbox:checked:after {
  color: var(--emphasis-color);
  content: 'yes';
  position: absolute;
  left: 0.45em;
  top: 0.1em;
  box-shadow: 0px 7px 20px 0px var(--offset-shadow);
}
